<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首頁</title>
    <link rel="stylesheet" href="/stock_project/stock/static/stock/test.css">
    
</head>
<body>
    <div class="top">
		<header>
            <div><img src="/static/stock/img/logo.png" alt="logo"></div>
			<p>朝陽虛擬智選股</p>
		</header>
		<nav>
			<ul class="nav">
				<li  id="foo" >首頁</li>
				<li><a href="{% url 'markettrend:markettrend' %}">大盤走勢</a></li>
				<li><a href="{% url 'choose:choose' %}">個股看盤</a></li>
				<li><a href="{% url 'chips:chips' %}">籌碼排序</a></li>
				<li><a href="{% url 'trend:trend' %}">多圖走勢</a></li>
				<li><a href="{% url 'newbie:newbie' %}">新手教學</a></li>
				<li><a href="{% url 'transaction:transaction' %}">虛擬交易</a></li>
				<li><a href="{% url 'predict:predict' %}">股票預測</a></li>
			</ul>
		</nav>
	</div>
	<div id="main">
		<div id="square">
			<div id="new">
				<h1>熱門新聞</h1><br>
				{%for i in d %}
					<div id="new_div">
						<a href={{i.1}} target='_blank'>{{i.0}}</a>
						<div class="wrap">
		  					<div class="cont">
								<p class="txt">{{i.2}}</p>
							</div>
						</div>
					</div>
				{%endfor%}
			</div>
		</div>
		<div id="home_bg"><img src="/static/stock/img/bg_img.png" alt=""></div>
		<div id="circle">
			<p>ＷElCOME<br><span>朝陽虛擬智選股</span></p>
		</div>
		
	</div>
	<div id="qr_code">
		<p>line好友添加</p>
		<img src="/static/stock/img/906csrwq.png" alt="">
	</div>
</body>
</html>
