<meta charset="UTF-8">
	<ul class="nav">
		<li  id="foo" ><a href="{% url 'stock:stock' %}">首頁</a></li>
		<li id="foo" ><a href="{% url 'markettrend:markettrend">大盤走勢</a></li>
		<li id="foo" ><a href="{% url 'choose:choose' %}">自選股看盤</a></li>
		<li id="foo" ><a href="{% url 'chips:chips' %}">籌碼選股</a></li>
		<li id="foo" ><a href="{% url 'trend:trend' %}">多圖走勢</a></li>
		<li id="foo" ><a href="{% url 'newbie:newbie' %}">新手教學</a></li>
		<li id="foo" ><a href="{% url 'transaction:transaction' %}">虛擬交易</a></li>
		<li id="foo" ><a href="{% url 'predict:predict' %}">股票預測</a></li>
	</ul>