{% load static %}
<div id="carouselExampleIndicators" data-aos="fade-right" class="carousel carousel-dark slide w-50 mx-auto " data-bs-ride="carousel" style="margin-top:50px;margin-bottom:50px">
	 <div class="carousel-indicators">
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Slide 10"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Slide 11"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Slide 12"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Slide 13"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="13" aria-label="Slide 14"></button>
	    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="14" aria-label="Slide 15"></button>
	  </div>
	  <div class="carousel-inner">
	    <div class="carousel-item active" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-01.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-02.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-03.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-04.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-15.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-05.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-06.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-07.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-08.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-09.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-10.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-11.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-12.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-13.png' %}" class="d-block w-100">
	    </div>
	    <div class="carousel-item" data-bs-interval='2000'>
	      <img src="{% static 'stock/img/teach1/teach-14.png' %}" class="d-block w-100">
	    </div>
	  </div>
	  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
	    <span class="carousel-control-prev-icon" aria-hidden="true" style="color:red;"></span>
	    <span class="visually-hidden" >Previous</span>
	  </button>
	  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
	    <span class="carousel-control-next-icon" aria-hidden="true"></span>
	    <span class="visually-hidden">Next</span>
	  </button>
</div>