<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自選股看盤</title>
    <link rel="stylesheet" href="{% static 'stock/css/test.css' %}">
</head>
<body>
    <div class="top">
		<header>
            <div><img src="/static/stock/img/logo.png" alt="logo"></div>
			<p>朝陽虛擬智選股</p>
		</header>
		<nav>
			<ul class="nav">
				<li><a href="{% url 'stock:stock' %}">首頁</a></li>
				<li><a href="{% url 'markettrend:markettrend' %}">大盤走勢</a></li>
				<li id="foo">個股看盤</li>
				<li><a href="{% url 'chips:chips' %}">籌碼排序</a></li>
				<li><a href="{% url 'trend:trend' %}">多圖走勢</a></li>
				<li><a href="{% url 'newbie:newbie' %}">新手教學</a></li>
				<li><a href="{% url 'transaction:transaction' %}">虛擬交易</a></li>
				<li><a href="{% url 'predict:predict' %}">股票預測</a></li>
            </ul>
		</nav>
	</div>
	<div id="main">
		<div id='choose2'>
			<p><a href="{%url 'choose:choose' %}">即時股價</a></p>
			<p id='transaction2_btn'>死亡交叉</p>
		</div>
		<div>
			<p>{{stock}}</p>
			<form id="choose2" action="choose2_submit" method="get">
		   		{{ who.as_p }}
		   		<input id='submit'type="submit" value="送出">
		   	</form>
	   	</div>
	   	<div id='choose_div' >
	   	    <p style="width: fit-content;">{{title}}</p>
	   		{% autoescape off %}
		    {{fig}}
		    {% endautoescape %}
   		</div>
   	</div>
</body>
</html>