<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>自選股看盤</title>
    <link rel="stylesheet" href="{% static 'stock/css/test.css' %}">
</head>
<body>
    <div class="top">
		<header>
            <div><img src="/static/stock/img/logo.png" alt="logo"></div>
			<p>朝陽虛擬智選股</p>
		</header>
		<nav>
			<ul class="nav">
				<li><a href="{% url 'stock:stock' %}">首頁</a></li>
				<li><a href="{% url 'markettrend:markettrend' %}">大盤走勢</a></li>
				<li id="foo">個股看盤</li>
				<li><a href="{% url 'chips:chips' %}">籌碼排序</a></li>
				<li><a href="{% url 'trend:trend' %}">多圖走勢</a></li>
				<li><a href="{% url 'newbie:newbie' %}">新手教學</a></li>
				<li><a href="{% url 'transaction:transaction' %}">虛擬交易</a></li>
				<li><a href="{% url 'predict:predict' %}">股票預測</a></li>
            </ul>
		</nav>
	</div>
	<div id="main">
		<div id="status"><img src="/static/stock/img/Spin-1s-200px.gif"/></div>
		<div id='choose2'>
			<div id='choose_div'>
				<input id='s_num' type='text' placeholder='股票代碼/名稱'>
			   	<input id='submit'type="submit" value="送出">
		   	</div>
			<p id='transaction2_btn'>即時股價</p>
			<p><a href="{%url 'choose:choose2' %}">技術線圖</a></p>
		</div>
	   	<div id='choose_div2'>
	   		<div>
	   		{% autoescape off %}
				{{fig}}
			{% endautoescape %}
	   		</div>
			<div id="new2">
				<h1>熱門新聞</h1><br>
				{%for i in d %}
					<div id="new_div">
						<a href={{i.1}} target='_blank'>{{i.0}}</a>
						<div class="wrap">
		  					<div class="cont">
								<p class="txt">{{i.2}}</p>
							</div>
						</div>
					</div>
				{%endfor%}
			</div>
	   	</div>
   	</div>
	<div id='qr_div' >
		<div id="qr_code">
			<a href="https://lin.ee/YFR4wbS" target="_blank"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友"></a>
			<img src="/static/stock/img/906csrwq.png" alt="">
		</div>
		<p>官方Line bot帳號<br>可隨時查詢股票資訊</p>
	</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> 
<script src="{% static 'stock/js/all.js' %}" type="text/javascript"></script>	
</body>
</html>