<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>虛擬交易</title>
    <link rel="stylesheet" href="{% static 'stock/css/test.css' %}">
</head>
<body>
	<div class="top">
		<header>
            <div><img src="/static/stock/img/logo.png" alt="logo"></div>
			<p>朝陽虛擬智選股</p>
		</header>
		<nav>
			<ul class="nav">
				<li><a href="{% url 'stock:stock' %}">首頁</a></li>
				<li><a href="{% url 'markettrend:markettrend' %}">大盤走勢</a></li>
				<li><a href="{% url 'choose:choose' %}">個股看盤</a></li>
				<li><a href="{% url 'chips:chips' %}">籌碼排序</a></li>
				<li><a href="{% url 'trend:trend' %}">多圖走勢</a></li>
				<li><a href="{% url 'newbie:newbie' %}">新手教學</a></li>
				<li  id="foo">虛擬交易</li>
				<li><a href="{% url 'predict:predict' %}">股票預測</a></li>
			</ul>
		</nav>
	</div>
	<div id="main">
		<div id='transaction2'>
			<div id='id_box'>
				<div id='id_img'><img src="/static/stock/img/id_img.png" alt="people"></div>
				<p><span>{{id}}</span> 已登入</p>
				<a id='logout' href="{%url 'transaction:logout' %}">登出</a>
			</div>
			<p><a href="{%url 'transaction:btn1Create' %}">快速下單</a></p>
			<p><a href="{%url 'transaction:btn2Create' %}">帳戶概覽</a></p>
			<p><a href="{%url 'transaction:btn3Create' %}">交易紀錄</a></p>
			<p><a href="{%url 'transaction:btn4Create' %}">庫存明細</a></p>
			<p id='transaction2_btn'>損益計算</p>
		</div>
			<div id='btn5_div'>
				<table>
					<caption>未實現損益</caption>
					<tr>
						<th>股票代碼/名稱</th>
						<th>預估損益</th>
						<th>報酬率</th>
						<th>平均成本</th>
						<th>張數</th>
						<th>現價</th>
						<th>買入成本</th>
						<th>賣出收益</th>
					</tr>
					{% for a in text5 %}
					<tr>
						<td> {{ a.0 }} </td>
						<td> {{ a.1 }} </td>
						<td> {{ a.2 }} </td>
						<td> {{ a.3 }} </td>
						<td> {{ a.4 }} </td>
						<td> {{ a.5 }} </td>	
						<td> {{ a.6 }} </td>
						<td> {{ a.7 }} </td>			      
					</tr>
					{% endfor %}
					<tr>
						<td colspan='4'>總買入成本 : {{result1}}</td>
						<td colspan='4'>總賣出收益 : {{result2}}</td>
					</tr>
				</table>
				<table>
					<caption>已實現損益</caption>
					<tr>
						<th>股票代碼/名稱</th>
						<th>損益</th>
						<th>報酬率</th>
						<th>張數</th>
						<th>買價</th>
						<th>賣價</th>
						<th>買入成本</th>
						<th>賣出收益</th>
					</tr>
					{% for a in text7 %}
					<tr>
						<td> {{ a.0 }} </td>
						<td> {{ a.1 }} </td>
						<td> {{ a.2 }} </td>
						<td> {{ a.3 }} </td>
						<td> {{ a.4 }} </td>
						<td> {{ a.5 }} </td>	
						<td> {{ a.6 }} </td>
						<td> {{ a.7 }} </td>			      
					</tr>
					{% endfor %}
				</table>
			</div>
	</div>
	<div id='qr_div' >
		<div id="qr_code">
			<a href="https://lin.ee/YFR4wbS" target="_blank"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/zh-Hant.png" alt="加入好友"></a>
			<img src="/static/stock/img/906csrwq.png" alt="">
		</div>
		<p>官方Line bot帳號<br>可隨時查詢股票資訊</p>
	</div>
</body>
</html>